doctype html
html(lang='en')
  head
    include includes/head
    title Otoha
  body
    #search-block
      h1 Type keyword to parse .csv
      input(autofocus placeholder='Kittens, puppies' spellcheck='false' autocomplete='off')
