doctype html
html(lang='en')
  head
    include includes/head
    title Otoha
  body
    #search-block
      noscript You need to enable JavaScript to use this app
      p
      h1 Type keyword to parse .csv
      input(autofocus placeholder='Kittens, puppies' spellcheck='false' autocomplete='off')
      br
      include includes/circle
