link(rel='icon' type='image/png' sizes='32x32' href='img/favicons/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='192x192' href='img/favicons/android-chrome-192x192.png')
link(rel='icon' type='image/png' sizes='16x16' href='img/favicons/favicon-16x16.png')
link(rel='mask-icon' href='img/favicons/safari-pinned-tab.svg' color='#1a87e2')
link(rel='shortcut icon' href='img/favicons/favicon.ico')
meta(name='apple-mobile-web-app-title' content='Otoha')
meta(name='application-name' content='Otoha')
meta(name='msapplication-TileColor' content='#1a87e2')
meta(name='msapplication-TileImage' content='img/favicons/mstile-150x150.png')
meta(name='theme-color' content='#1a87e2')
