meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='application name' content='Otoha')
meta(name='author' content='Artjom Löbsack')
meta(name='description' content='Simple app to parse vk.com')
meta(name='generator' content='Pug')
meta(name='keywords' content='otoha, parsing, vk')
